/*--------------FONDO---------------*/

body{
    margin: 0%;
    font-size: 16px;
    color: #000000;
    background-color: #ffe6cd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*--------------INICIO---------------*/

header{
    grid-area: inicio;
    background-color: rgba(255, 255, 255, 0.952);

}

.logoprincipal{
    position: absolute;
    top: var(--logoposition-t);
    left: var(--logoposition-l);
    right: var(--logoposition-r);
    width: var(--boxlogo);
    height: var(--boxlogo);
    z-index: 15;
}

.menuprincipal-conteiner{
    grid-area: barra;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.952);
    z-index: 12;
}

.container-fluid{
    background-color: rgba(255, 255, 255, 0.952);
}

.menuprincipal{
    background-color: rgba(255, 255, 255, 0.952);
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 8px 8px -5px black;
}

.menupprincipal-item{
    padding: 0rem 1rem;
    color: black;
    text-decoration: none;
   
}
.menupprincipal-item:hover{
    padding: 0rem 1rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menupprincipal-itemselec{
    padding: 0rem 1rem;
    color: #CF5C36;
    text-decoration: none;
}
.menupprincipal-itemselec:hover{
    padding: 0rem 1rem;
    color: #CF5C36;
    text-decoration: none;
    font-weight: bold;

}


/*--------------MAIN---------------*/

main{
    margin: 30px 6%;
}

/*--------------INDEX---------------*/

.indexintro{
    font-size: 105%;
}

.indeximag-conteiner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
.indeximag{
    width: 100%;
    height: 100%;
}
.indeximag-item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.indeximag-item2{
    grid-column: ;
    grid-row: ;
}
.indeximag-item3{
    grid-column: ;
    grid-row: ;
}
.indeximag-item4{
    grid-column: ;
    grid-row: ;
}
.indeximag-item5{
    grid-column: ;
    grid-row: ;
}
.indeximag-item6{
    grid-column: ;
    grid-row: ;
}
.indeximag-item7{
    grid-column: ;
    grid-row: ;
}
.indeximag-item8{
    grid-column: ;
    grid-row: ;
}
.indeximag-item9{
    grid-column: ;
    grid-row: ;
}
.indeximag-item10{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}



/*--------------RESTOS---------------*/

.restosintro{
    font-size: 1rem;
    font-weight: bold;
}

.restosmapa{ 
    font-size: 1rem;
    font-weight: bold;
}

.restoslistado-conteinter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

:root{
    --size-resto: 8rem;
}
.restoslistado-item{
    width: var(--size-resto);
    height: var(--size-resto);
    margin: 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.carousel{
    width: 30%;
}

.restoslistado-img{
    height: 100%;
    width: 100%;
}

.restosmapa{
    margin-top: 5%;
}

/*--------------PFREC---------------*/

.pfrec-pregunta{
    display: inline-block;
    font-size: 150%;
    border-bottom: #000000 solid;
}

.pfrec-respuesta{
}

.accordion-button{
    background-color: #d69b4e;
    border: 0;
}

.accordion-button:not(.collapsed) {
    background-color: #d69b4e;
}


/*---------CONTACTOS---------------*/

.contactosintro{
}
.contractos-comentario{
}

/*--------------TCN---------------*/

.tcnintro{
}
.tcn-comentario{
}

/*--------------FINAL---------------*/

footer{
    grid-area: pie;
    background-color: #e7966e;

}
.grillafinal{
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 25% 1px 1fr 1px 1fr;
    grid-template-areas: 
    'titulo nada'
    'sep1 sep1'
    'info qr'
    'sep2 sep2'
    'redes play';
}

.menufinal-titulo{
    grid-area: titulo;
    margin-left: 15%;
    margin-top: 2%;
    font-size: 100%;
}

.sep1{
    grid-area: sep1;
    height: 1px;
    margin: 0 5%;
    border-top: 1px solid black;
}

.sep2{
    grid-area: sep2;
    height: 1px;
    margin: 0 5%;
    border-top: 1px solid black;
}

.texto{
    font-size: 100%;
    margin: 0;
}

.menufinal-info{
    grid-area: info;
    margin-left: 15%;
    margin-bottom: 2%;
}
.menufinal{
    grid-area: redes;
    margin-left: 15%;
    display: flex;
    align-items: center;
}

.logofinal{
    width: 20px;
}
.menufinal-item{
    margin: 0px 5px;

}
.menufinal-item:hover{
    margin: 0px 5px;
    font-weight: bold;
}

:root{
    --boxqr: 5rem;
}

.qr-container{
    grid-area: qr;
    margin-right: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.qr-item{
    width: var(--boxqr);
    height: var(--boxqr);
    border: 1px solid black;
}


.logoqrfinal{
    width: 100%;
    height: 100%;
}

.play-container{
    grid-area: play;
    margin-right: 40%;
}


.play{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playimg{
    height: 2rem;
}

/**---------------MEDIAQUERIS-------------------**/

@media (width <= 600px){
    :root{
        --boxlogo: 3rem;
        --boxtitulo: 2rem;
        --logoposition-r: 0.3%;
        --logoposition-l: ;
        --logoposition-t: 0.3%;

        --tituloposition-r: 7rem;
    }
    .headertitulo{
        display: none;
    }
    .headertitulomovil{
        font-size: var(--boxtitulo);;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        top: var(--logoposition-t);
        left: var(--logoposition-l);
        right: var(--tituloposition-r);
        width: var(--boxlogo);
        height: var(--boxlogo);
        z-index: 15;
    }
    .navbar-brand{
        display: none;
    }
}

@media (width <= 600px){
    :root{
        #grilla{
            display: grid;
            grid-template-rows: 0px 60px 1fr 220px;
            grid-template-columns: auto;
            grid-template-areas: 
            'inicio'
            'barra'
            'contenido'
            'pie';
        }
    }
}

@media ( 600px < width ) and (width < 950px){    
    :root{
        #grilla{
            display: grid;
            grid-template-rows: 70px 55px 1fr 220px;
            grid-template-columns: auto;
            grid-template-areas: 
            'inicio'
            'barra'
            'contenido'
            'pie';
        }
    }
}

@media (width >= 950px){
    :root{
        #grilla{
            display: grid;
            grid-template-rows: 110px 55px 1fr 250px;
            grid-template-columns: auto;
            grid-template-areas: 
            'inicio'
            'barra'
            'contenido'
            'pie';
        }
    }
}

@media ( 600px < width ) and (width < 950px){    
    :root{
        --boxlogo: 3rem;
        --boxtitulo: 3rem;
        --logoposition-r: ;
        --logoposition-l: 1%;
        --logoposition-t: 1%;
    }
    .headertitulo{
        display: flex;
        font-size: var(--boxtitulo);;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        align-items: center;
        z-index: 16;
    }
    .headertitulomovil{
        display: none;
    }
}

@media (width >= 950px){
    :root{
        --boxlogo: 5rem;
        --boxtitulo: 4rem;
        --logoposition-r: ;
        --logoposition-l: 1%;
        --logoposition-t: 1%;
    }
    .headertitulo{
        display: flex;
        font-size: var(--boxtitulo);;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        align-items: center;
        z-index: 16;
    }
    .headertitulomovil{
        display: none;
    }
    .navbar-brand{
        display: none;
    }
}

@media (width <= 600px){
    .qr-item{
        display: none;
    }
}

@media (width <= 600px){
    .qr-item{
        display: none;
    }
}

@media (width <= 600px){
    .qr-item{
        display: none;
    }
}

@media (width <= 600px){
    .qr-item{
        display: none;
    }
}

@media (width <= 600px){
    .play-container{
        grid-area: qr;
        border-top: 0;
    }
}

@media (width <= 600px){
    .texto{
        font-size: 80%;
        margin: 0;
    }
}
